<!DOCTYPE html>
<html>
    <script src="Scripts/Funciones.js"></script>
    <title>Canvas</title>
 <body onload="draw();">
   <table>
    <tbody>
      <tr>
        <td>
          <button style="border-color:blue ;"id="j1i">&#8592</button>
        </td>
        <td>
          <button style="border-color:blue ;" id="j1u">&#8593</button><br><br>
          <button style="border-color:blue ;"id="j1a">&#8595</button>
        </td>
        <td>
          <button style="border-color:blue ;"id="j1d">&#8594</button><br>
        </td>
        <td><canvas id="canvas" width="920" height="600"></canvas></td>
        <td>
          <button style="border-color:rgb(0, 255, 0) ;"id="j2i">&#8592</button>
        </td>
        <td>
          <button style="border-color:rgb(0, 255, 0) ;"id="j2u">&#8593</button><br><br>
          <button style="border-color:rgb(0, 255, 0) ;"id="j2a">&#8595</button>
        </td>
        <td>
          <button style="border-color:rgb(0, 255, 0) ;"id="j2d">&#8594</button><br>
        </td>
      </tr>
      <tr><p>JUEGO DE BALONCESTO HTML CSS & JS</p></tr>

      <tr><p>INGRITH GUEVARA , ANDERSON GORDILLO, LAURA CASTRO</p></tr>
    </tbody>
</table>

<div class="video-wrap">
  <video id="video" style="display:none;" playsinline autoplay></video>
</div>

<audio id="audioPlay" controls style="display:none;">
  <source src="audios/chicharra.mp3"  type="audio/mpeg">
</audio>

 </body>
</html>
